<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="cordova-plugin-allianz-teleconsultation"
      version="0.1.0">

    <name>Allianz Teleconsultation</name>
    <description>Cordova Plugin for Allianz Teleconsultation</description>
    <license>TBD</license>
    <keywords>cordova,allianz,teleconsultation</keywords>
    <repo>https://github.com/NijiDigital/cordova-plugin-allianz-teleconsultation.git</repo>

    <engines>
      <engine name="cordova" version=">=3.1.0" /><!-- Needs cordova/urlutil -->
    </engines>

    <!-- android -->
    <platform name="android">
        <js-module src="www/inappbrowser.js" name="allianzteleconsultation">
            <clobbers target="cordova.AllianzTeleconsultation.open" />
        </js-module>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-feature android:name="android.hardware.camera.any" />
            <uses-feature android:name="android.hardware.microphone" />
        </config-file>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AllianzInAppBrowser">
                <param name="android-package" value="fr.niji.cordova.allianzteleconsultation.InAppBrowser"/>
            </feature>
        </config-file>

        <source-file src="src/android/InAppBrowser.java" target-dir="src/fr/niji/cordova/allianzteleconsultation" />
        <source-file src="src/android/InAppBrowserDialog.java" target-dir="src/fr/niji/cordova/allianzteleconsultation" />
        <source-file src="src/android/InAppChromeClient.java" target-dir="src/fr/niji/cordova/allianzteleconsultation" />

        <!--  drawable src/android/resources -->
        <resource-file src="src/android/res/drawable-hdpi/ic_action_next_item.png" target="res/drawable-hdpi/ic_action_next_item.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_action_next_item.png" target="res/drawable-mdpi/ic_action_next_item.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_action_next_item.png" target="res/drawable-xhdpi/ic_action_next_item.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_action_next_item.png" target="res/drawable-xxhdpi/ic_action_next_item.png" />

        <resource-file src="src/android/res/drawable-hdpi/ic_action_previous_item.png" target="res/drawable-hdpi/ic_action_previous_item.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_action_previous_item.png" target="res/drawable-mdpi/ic_action_previous_item.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_action_previous_item.png" target="res/drawable-xhdpi/ic_action_previous_item.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_action_previous_item.png" target="res/drawable-xxhdpi/ic_action_previous_item.png" />

        <resource-file src="src/android/res/drawable-hdpi/ic_action_remove.png" target="res/drawable-hdpi/ic_action_remove.png" />
        <resource-file src="src/android/res/drawable-mdpi/ic_action_remove.png" target="res/drawable-mdpi/ic_action_remove.png" />
        <resource-file src="src/android/res/drawable-xhdpi/ic_action_remove.png" target="res/drawable-xhdpi/ic_action_remove.png" />
        <resource-file src="src/android/res/drawable-xxhdpi/ic_action_remove.png" target="res/drawable-xxhdpi/ic_action_remove.png" />

    </platform>

    <!-- ios -->
    <platform name="ios">
        <hook src="scripts/ios/hooks/strip_unsupported_arch.js" type="after_platform_add" />
        <js-module src="www/inappbrowser.js" name="allianzteleconsultation">
            <clobbers target="cordova.AllianzTeleconsultation.open" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="AllianzInAppBrowser">
                <param name="ios-package" value="CDVAllianzInAppBrowser" />
                <param name="onload" value="true" />
            </feature>
            <feature name="UIAllianzInAppBrowser">
                <param name="ios-package" value="CDVAllianzUIInAppBrowser" />
                <param name="onload" value="true" />
            </feature>
            <feature name="WKAllianzInAppBrowser">
                <param name="ios-package" value="CDVAllianzWKInAppBrowser" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>The camera access is used to be able to teleconference with a doctor.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>The microphone access is used to be able to speak with a doctor.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsLocalNetworking</key>
                <true/>
            </dict>
        </config-file>
        <header-file src="src/ios/CDVAllianzInAppBrowser.h" />
	    <source-file src="src/ios/CDVAllianzInAppBrowser.m" />
        <header-file src="src/ios/CDVAllianzInAppBrowserOptions.h" />
        <source-file src="src/ios/CDVAllianzInAppBrowserOptions.m" />
        <header-file src="src/ios/CDVAllianzInAppBrowserNavigationController.h" />
        <source-file src="src/ios/CDVAllianzInAppBrowserNavigationController.m" />
	    <header-file src="src/ios/CDVAllianzUIInAppBrowser.h" />
	    <source-file src="src/ios/CDVAllianzUIInAppBrowser.m" />
	    <header-file src="src/ios/CDVAllianzWKInAppBrowser.h" />
	    <source-file src="src/ios/CDVAllianzWKInAppBrowser.m" />
	    <header-file src="src/ios/CDVAllianzWKInAppBrowserUIDelegate.h" />
	    <source-file src="src/ios/CDVAllianzWKInAppBrowserUIDelegate.m" />


	    <framework src="CoreGraphics.framework" />
        <framework src="src/ios/frameworks/visioWeb.framework" embed="true" custom="true" />
        <framework src="src/ios/frameworks/WebRTC.framework" embed="true" custom="true" />
    </platform>
</plugin>
